
@using SMSPortalWebPanel.ViewModels
@model UserManagementListViewModel
@section TitleSection{
    کاربر ها
}
@section ActiveUserManagement{active}
@section HeaderSection{
    <link href="~/Content/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Scripts/plugins/datatables/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script language="javascript" type="text/javascript">

        $(document).ready(function () {
            myDataTable('#myDataTable');
        });

        $(document).on('confirmation', '.remodal', function () {
            var url = '@Url.Action("Delete", "UserManagement")';
            window.location.href = url + "/" + IdToDelete;

        });

        var IdToDelete;

        function setIdToDelete(id) {
            IdToDelete = id;

        }

    </script>
}
@section ContentBody{
    <div class="row">
        <div class="col-md-8 col-centered">
            <section class="panel">
                <header class="panel-heading">
                    کاربر ها
                </header>
                <div class="panel-body table-responsive">
                    <table id="myDataTable" class="table table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>نام کاربری</th>
                                <th>نام</th>
                                <th>نام خانوادگی</th>
                                <th>نوع کاربری</th>
                                <th>ویرایش</th>
                                <th>حذف</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.UserManagementVms != null && Model.UserManagementVms.Count > 0)
                            {
                                foreach (UserManagementViewModel item in Model.UserManagementVms)
                                {
                                    <tr>
                                        <td></td>
                                        <td>@item._UserName</td>
                                        <td>@item.Name</td>
                                        <td>@item.Family</td>
                                        <td>
                                            @if (item.isAdmin)
                                            {
                                                <img src="~/img/admin.png" />
                                            }
                                            else
                                            {  <img src="~/img/User.png" />
                                            }

                                        </td>
                                        <td><a href="~/UserManagement/AddUpdate/@item.Id"><button class="btn btn-default btn-xs"><i class="fa fa-pencil"></i></button></a></td>
                                        <td><a data-remodal-target="defultYesNoModal" href="#"><button class="btn btn-default btn-xs" onclick="setIdToDelete('@item.Id');"><i class="fa fa-times"></i></button></a></td>
                                    </tr>

                                }
                            }
                        </tbody>
                    </table>
                    <form action="/UserManagement/AddUpdate" method="get">
                        <button class="btn btn-primary btn-addon btn-sm" type="submit">
                            <i class="fa fa-plus"></i>
                            کاربر جدید
                        </button>

                    </form>
                </div>
            </section>

        </div>
    </div>

}

