
@using SMSPortalWebPanel.ViewModels
@model EditPasswordViewModel
@section TitleSection{
    تغییر رمز عبور
}
@section ActiveProfile{active}
@section HeaderSection{
   }
@section ContentBody{
    <div class="row">
        <div class="col-lg-4 col-centered">
            <section class="panel">
                <header class="panel-heading">
                    تغییر کلمه عبور
                </header>
                <div class="panel-body">
                    <form role="form" action="/Profile/UpdatePassword" method="post">

                        <div class="form-group">
                            <label for="Name">رمز عبور فعلی:</label>
                            <input type="password" class="form-control" name="@Html.NameFor(m => Model.OldPassword).ToString()" placeholder="رمز عبور قبلی را وارد کنید" />
                            <p class="help-block">@Html.ValidationMessageFor(m => Model.OldPassword)</p>
                        </div>
                        <div class="form-group">
                            <label for="Name">رمز عبور جدید:</label>
                            <input type="password" class="form-control" name="@Html.NameFor(m => Model.NewPassword).ToString()" placeholder="رمز عبور جدید را وارد کنید">
                            <p class="help-block">@Html.ValidationMessageFor(m => Model.NewPassword)</p>
                        </div>
                        <div class="form-group">
                            <label for="Name">تکرار رمز عبور جدید:</label>
                            <input type="password" class="form-control" id="txtFamily" name="@Html.NameFor(m => Model.ReNewPassword).ToString()" placeholder="رمز عبور جدید را مجددا وارد کنید">
                            <p class="help-block">@Html.ValidationMessageFor(m => Model.ReNewPassword)</p>
                        </div>
                        @Html.HiddenFor(m => m.User_UserName , new { @Value = Model.User_UserName })

                        <button type="submit" class="btn btn-info">ثبت</button>
                        <p class="help-block">@( Model._Result != null ? Model._Result : "")</p>
                    </form>
                </div>

            </section>

        </div>
    </div>

}

